.background {
  width: 100%;
  background: var(--white);
  border-radius: 8px;
  border: 1px solid var(--green-100);
  overflow: hidden;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 2.4rem 2.4rem 0 2.4rem;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-end;
  margin-bottom: 1.25rem;
}

.avatar {
  box-sizing: initial;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  border: 2px solid var(--gray-800);
  outline: 2px solid var(--green-100);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name {
  font-size: 1rem; /* 1rem = 16px */
  line-height: 1;
}

.description span {
  color: var(--gray-500);
  line-height: 1;
}

.hash {
  color: var(--green-100);
  font-weight: 700;
}

.line {
  border: 1px solid var(--gray-400);
  margin: 1.5rem 0;
}

.comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.input {
  height: 6rem;
  border: none;
  background-color: var(--gray-100);
  border-radius: 8px;
  margin: 1rem 0;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  resize: none;
}

.input::placeholder {
  font-size: 0.9rem;
  color: var(--gray-400);
}

.input:focus {
  outline: none;
  color: var(--gray-400);
  font-size: 0.9rem;
}

.button {
  width: 6.75rem;
  height: 3.06rem;
  border-radius: 8px;
  border: none;
  background-color: var(--green-100);
  color: var(--white);
}

.button:hover {
  background-color: var(--green-200);
}

