:root {
  --white: #fff;
  --gray-100: #e0dcdc;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-500: #4F4F5A;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #141419;

  --green-100: #49efa7;
  --green-200: #3CD593;
}

* {
  /* resetar as definições */
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  /* border box mantém na tela todo o conteúdo visivel na tela*/
}

body {
  background: var(--gray-100);
  color: var(--gray-900);
  -webkit-font-smothing: antialiased; /*deixa a fonte mais definida*/
}

body, 
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem; /*Igual a 16px*/
}