.sidebar {
  width: 100%;
  background: var(--white);
  border-radius: 8px;
  border: 1px solid var(--green-100);
  overflow: hidden;
}

.cover {
  width: 100%;
  height: 178px;;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-end;
  margin-left: 3rem;
  margin-bottom: 1.25rem;
  margin-top: -3rem;
}

.avatar {
  box-sizing: initial;
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 8px;
  border: 11px solid var(--gray-800);
  outline: 2px solid var(--green-100);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name {
  font-size: 1.5rem; /* 1rem = 16px */
  line-height: 1.6;
}

.description span {
  color: var(--gray-500);
  line-height: 1.6;
}