.container {
  display: flex;
  flex-direction: row;
  gap: 1.46rem;
}

.avatar {
  box-sizing: initial;
  width: 4.6rem;
  height: 3.85rem;
  border-radius: 8px;
  object-fit: cover;
}

.comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  background-color: var(--gray-100);
  height: 9.25rem;
  width: 100%;
  border-radius: 9px;
  margin-bottom: 1.24rem;
  padding: 1rem;
}

.user {
  display: flex;
  flex-direction: column;
  line-height: 1.4rem;
}

.user time {
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}

.containerLike {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 6.2rem;
  margin-bottom: 1.85rem;
  gap: 0.9rem;
  color: var(--gray-400);
}

.containerLike:hover {
  color: var(--green-100);
}

.like {
  font-size: 1rem;
}



